---
import Layout from "../components/Layout.astro";
---

<Layout pageTitle="Conoce más de nosotros">
  <h1>Acerca de mi web</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, facere,
    eaque inventore distinctio iure omnis aliquam totam repellat voluptatum
    deserunt a vel numquam. Quos totam eum provident culpa velit rerum.
  </p>
</Layout>
