---
//datos que recibe este componente de card //Astro sirve para llamar a varios valores propiedad props cuando pasen datos desde afuera yo puedo pasarle datos unicos a dicha tarjeta
interface Props {
    title?: string
    content?: string
}
const {title = "Default title", content = "Content default"} = Astro.props

---

<div class="card">
    <h1>{title}</h1>
    <p>{content}</p>
</div>

<style>
    .card {
        background: #fff;
        color: #202020;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); 0 25px 50px 0 rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 300px;
        margin-bottom: 5px;
    }
</style>